<div class="post card mb-3 shadow-sm">
    <a href="/discuss/posts/<%=post._id%>" class="text-decoration-none">
        <div class="card-header text-white" style="background-color: #E8751A;">
            <div class="d-flex justify-content-between align-items-center">
                <div class="post-logo"><%=post.community.name%></div>
                <div class="post-time"><%=post.createdAt.toDateString()%> | <%=post.createdAt.toLocaleTimeString()%></div>
                <div class="post-join">
                    <button class="btn btn-light">Join</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%=post.title%></h5>
            <p class="card-text"><%=post.content%></p>
        </div>
    </a>
        <!-- <div class="card-footer bg-light d-flex justify-content-between align-items-center">
            <div class="post-vote">
                <button class="btn btn-success">Up</button>&#8739;<%=post.up - post.down%>&#8739;<button class="btn btn-danger">Down</button>
            </div>
            <button class="btn btn-secondary">Comment</button>
            <button class="btn btn-info delete-post-btn" postId = "<%=post._id%>">Delete</button>
        </div> -->
</div>

